 /* Asterise(*) is for all elements root*/
 /* * {  
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
} */

 /* body {
     margin: 0px;
     padding: 0px;
     border: 2px solid red;
 } */

 body {
     padding: 25px;
     background-color: white;
     color: black;
     box-sizing: border-box;
 }


 body.dark-mode {
     background-color: black;
     color: white;
 }

 .container {
     border: 3px solid green;
     width: 80vw;
     height: 80vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;
     margin: 20px auto;

 }

 #inner-container {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .btn {
     padding: 5px;
     margin: 5px;
     border: 2px solid blue;
 }